form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center; 
    align-items: center;
       
}

.title-contact{
    animation: animation 2s steps(35), transparent .3s step-end infinite alternate;
    width: 4.2em;
    white-space: nowrap;
    overflow: hidden ;
    font-size: 4em;
    color: #c9bcf3;
    border-right: 5px solid #5d075d ;
    margin: 4px 0 25px 40px;
}

.content-label{
    font-size: 1.5em;
    color: #c9bcf3;

}
.input-contact{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;    
    width: 400px;
    height: 30px;
    margin: 2px 0 2px 0;
    padding: 3px;
    background-color: #c9bcf3;
    border-radius: 30px;
}


.send_buttom{
    width: 55%;
    font-size: 1.3em;
    font-weight:bold;
    height: 30px ;
    border-radius: 5px;
    margin-top: 10px;
    color: #c9bcf3;
    background: #220579;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 5px 0 #7ad0f54d
   
}

.send_buttom:hover{
    background-color: #450357;
    color: #c555e4;
    box-shadow: 3px 3px 5px 0 #c555e4;
    transition: background-color  0.5s ease, box-shadow  0.5s ease, color 0.5s ease;
}

#lottie-contact{
    width: 45% ; 
}


.alert-success{
    font-size: 1.3em;
    background-color: #0b843d;
    color: #ffffff;
    padding: 7px;
    width: 300px;
    margin-left: 40px;
    border-radius: 30px;
    box-shadow: 3px 3px 7px #6deda2 ;
    margin-bottom: 20px;
}

.alert-error{
    font-size: 1.3em;
    background-color:#c41f1f;
    color: #000000;
    padding: 7px;
    width: 810px;
    margin-left: 40px;
    border-radius: 30px;
    box-shadow: 3px 3px 7px #ffffff ;
    margin-bottom: 20px;
}



@keyframes animation{
    from {
        width:0px;
    }
}

@keyframes transparent{
    50%{
        border-color: transparent;
    }
}